*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 1.5rem;
}

h1{
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
}

.details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.details span{
    width: 35%;
    text-align: left;
}

.static{
    font-weight: 600;
}